<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Mini Library Book Tracker MLBT</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    </head>
    <body>
        {{{ body }}}
    
    <footer class=" center footer">
        <div class="container">
          <p> Copyright © 2017 The Book Slingers</p>
        </div>
      </footer>
	  
	</body>  
</html>



