<div class="container">
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book Tracker">      
	    </div>
			<div class="col-sm-5 title">
				<h1>Mini Library Book Tracker</h1>
		        <p><i>by Team Book Slingers</i></p>
		        <p class="right"><a href="/admin">Admin</a>  |  <a href="/usercrud">Checkout List</a>  |  <a href="/crud">Add Books<a/>  |  <a href="/checkout">Checkout Book</a></p>
		    </div>
	  	</div>
	
		<hr>
	</div>

	<div class="row">
	
		<form class="form-horizontal" action="" method="post" role="form">
		<div class="container">
			<div class="container col-sm-6"><br>
			<h2>Checkout Book</h2>
				<br>
				<div class="col-sm-12"><label>Name</label><input class="form-control" name="name" type="text" placeholder="Name"></div>
		      	<div class="col-sm-12"><label>Email</label><input class="form-control" name="email" type="email" placeholder="Email"></div>
		      	<div class="col-sm-12"><label>NetID</label><input class="form-control" name="neID" type="text" placeholder="NetID"></div>
		      	<div class="col-sm-12"><label>Book Title</label><input class="form-control" name="title" type="text" placeholder="Book Title"></div>
	      		<div class="col-sm-12"><label>Book Author</label><input class="form-control" name="author" type="text" placeholder="Book Author"></div>
	      		<div class="col-sm-12"><label>Edition</label><input class="form-control" name="edition" type="text" placeholder="Edition"></div>
	      		<div class="col-sm-12"><label>ISBN</label><input class="form-control" name="ISBN" type="text" placeholder="ISBN"></div>
	      		<div class="col-sm-12"><label>Publisher</label><input class="form-control" name="publisher" type="text" placeholder="Publisher"></div>
		      

			</div><br>

			<div class="container col-sm-6">
			<h2></h2><br><br>
				<div class="col-sm-12"><label>Checkout Date</label><input class="form-control" name="checkout_date" type="date"></div>
				<div class="col-sm-12"><label>Return Date</label><input class="form-control" name="return_date" type="date"></div>
				<div class="col-sm-12"><label>Due Date</label><input class="form-control" name="due_date" type="date"></div>
		      	<div class="col-sm-12"><label>Availability</label><input class="form-control" type="text" name="status" placeholder="Availability"></div>

			<div class="form-group">
		      <div class="col-md-12 admin-center">
		    	<br>  	
				<br>
		        <button class="btn btn-success" type="Submit">Submit</button>
		     	</div>
		  </div>

		</form>
		
		
		</div>
	</div>
	
</div>

<BR><BR>

