<div class="container">
	
	<div class="row">
		<div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book App">
		</div>
		<div class="col-sm-5">
			<h1>Mini Library Book App</h1>
			<p>by Team Book Slingers</p>
			<p class="right"><a href="/admin">Admin</a>  |  <a href="/usercrud">Activity</a>  |  <a href="/crud">Add Books<a/>  |  <a href="/checkout">Checkout Book</a></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<form action="/crud" method="POST" class="form-horizontal">
			<div class="container">
				<div class="container col-sm-12"><br>
					<h2>Add Book</h2>
					<br>
					<div class="col-sm-12"><label>Book Title</label>
					<input class="form-control" name="bTitle" type="text" placeholder="Book Title"></div>
					<div class="col-sm-12"><label>Book Author</label>
					<input class="form-control" name="bAuthor" type="text" placeholder="Book Author"></div>
					<div class="col-sm-12"><label>Edition</label>
					<input class="form-control" name="bEdition" type="text" placeholder="Edition"></div>
					<div class="col-sm-12"><label>ISBN</label>
					<input class="form-control" name="bISBN" type="text" placeholder="ISBN"></div>
					<div class="col-sm-12"><label>Publisher</label>
					<input class="form-control" name="bpublisher" type="text" placeholder="Publisher"></div>
					
				</div>
				<br>
				<div class="form-group1">
					<div class="col-md-12 admin-center">
						<br>
						<br>
						<button class="btn btn-success" type="Submit">Submit</button>
						
					</div>
				</div>
			</div>
		</form>
		<hr>
	</div>
	
</div>
<BR><BR>