<div class="container">
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book App">      
	    </div>
		<div class="col-sm-5">
			<h1>Mini Library Book App</h1>
	        <p>by Team Book Slingers</p>
	        <p class="right"><a href="#">Edit Users</a>  |  <a href="#">Edit Books</>  |  <a href="#">Checkout Book</a></p>
	    </div>
  	</div>
	<hr>
	<div class="container col-sm-12">
		



		

	</div>

</div>
