<div class="container">
	
	<div class="row">
	    <div class="center col-sm-12">
			<img src="./images/logo.jpg" alt="Mini Library Book App">
	        <h1>Mini Library Book App</h1>
	        <p></p>
	    </div>
  	</div>
	<!-- end .row -->

	<div class="row">
	    <div class="col-sm-2">
	    </div>
  	</div>
	
	<div class="">
	    <div class="center col-sm-8">

			<div class="container">
            
			  <table class="table table-hover">
			    <thead>
				      <tr>
				        <th>Title</th>
				        <th>Author</th>
				        <th>Available</th>
				        <th>Request</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr tabindex="1">
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				      <tr tabindex="2">
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				      <tr tabindex="3">
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				      <tr tabindex="4">
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				    </tbody>
				  </table>
				</div>

	    </div>

<<<<<<< HEAD
    <div class = "test">
      
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Book Checkout</div>
        <div class="container"> 
          <div class="col-sm-12">
            <div class="row">
                  <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-3">
                                        1
                            </div>
                            <div class="col-xs-3">
                                        2
                            </div>
                            <div class="col-xs-3">
                                        3
                            </div>
                            <div class="col-xs-3">
                                        4
                            </div>
                      </div>
                </div> 
                <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-3">
                                        5   
                            </div>
                            <div class="col-xs-3">
                                        6
                            </div>
                            <div class="col-xs-3">
                                        7
                            </div>
                            <div class="col-xs-3">
                                        8
                            </div>
                      </div>
                </div>
            </div>
         </div>
        </div>




            <ul>
              {{#each book}}
                {{#unless this.status}}
                  <li>
                    {{this.name}}
=======
>>>>>>> f1ebe5a49af6e60acf8b25100e6528c3390c2d4a

		<div class="">
		    <div class="col-sm-3">
		    </div>
  		</div>
	
  	</div>
	<!-- end .row -->

</div>