<div class="container">
  
  <div class="row">
      <div class="center col-sm-12">
      <img src="./images/logo.jpg" alt="Mini Library Book App">
          <h1>Mini Library Book App</h1>
          <p></p>
      </div>
    </div>
  <!-- end .row -->

  <div class="row">
      <div class="col-sm-2">
      </div>
    </div>
  
  <div class="">
      <div class="center col-sm-8">

      <div class="booksAvailable">
            
        <table class="table table-hover">
          <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Available</th>
                <th>Request</th>
              </tr>
            </thead>
            <tbody>
              <tr tabindex="1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr tabindex="2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr tabindex="3">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr tabindex="4">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
