<div class="container">
	
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book App">      
	    </div>
		<div class="col-sm-5">
			<h1>Mini Library Book App</h1>
	        <p>by Team Book Slingers</p>
	    </div>
  	</div>
	<hr>
	<div class="row">	
	
	<div class="col-sm-8">





	</div>
		<div class="col-sm-4"
			<h3>Request Book</h3>
	        
	    </div>


	 
	</div> 

<div class="container">
	<div class="row">


	<hr>
	</div>
</div>	

