<div class = "table">  
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Index</div>

    <!-- Table -->
    <table class="table">

    <h1>Northwestern Logo Here</h1>


    <div class = "test">
      
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Book Checkout</div>
        <div class="container"> 
          <div class="col-sm-12">
            <div class="row">
                  <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-3">
                                        1
                            </div>
                            <div class="col-xs-3">
                                        2
                            </div>
                            <div class="col-xs-3">
                                        3
                            </div>
                            <div class="col-xs-3">
                                        4
                            </div>
                      </div>
                </div> 
                <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-3">
                                        5   
                            </div>
                            <div class="col-xs-3">
                                        6
                            </div>
                            <div class="col-xs-3">
                                        7
                            </div>
                            <div class="col-xs-3">
                                        8
                            </div>
                      </div>
                </div>
            </div>
         </div>
        </div>




            <ul>
              {{#each book}}
                {{#unless this.status}}
                  <li>
                    {{this.name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="borrowed" value="true">
                      <button type="submit">Return</button>
                    </form>

                    {{> book/delete-book}}
                  </li>
                {{/unless}}
              {{/each}}
            </ul>

            <h2>Books that are available</h2>

            <ul>
              {{#each book}}
                {{#if this.status}}
                  <li>
                    {{this.name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="return" value="false">
                      <button type="submit">Return Book</button>
                    </form>

                    {{> book/delete-book}}
                  </li>
                {{/if}}
              {{/each}}
            </ul>

            <form class="create-update-form" action="/" method="POST">
            </form>
          </div>
          </table>
          </div>
        </div>
      </table
    
    </div>   
</div>