.test {
  float:right;
}

.table-nonfluid {
   width: 93% !important
}

.scroll {
    clear: both;
	height: 350px;
	overflow: auto;	
}

.right {
	text-align: right;
}

.admin-center {
	text-align: center;
}