@media screen and (min-width:400px) {

.booksTable {
  float:left;
  align-content:center;
  width:100%;
  border:3px solid black;
  background-color: yellow;
  height: 500px;
  width: 800px;
  position:fixed;
  overflow: auto;

}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: black;
}

.table-nonfluid {
   width: 93% !important
}

.scroll {
    clear: both;
	height: 350px;
	overflow: auto;	
}

.footer{
    align-content:center;
    width:100%;
    float:left;
    position:fixed;
    bottom:0px;
    left:50%;
    margin-left:-200px; /*negative half the width */
    width:400px;
    height:50px;
    text-align:center;
    text-orientation:fixed;
    background-color:red;
    border:2px solid black; 
    margin-top:10px;
}

.right {
	text-align: right;

}

.admin-center {
	text-align: center;
}