@media screen and (min-width:400px) {


.title {

  font-family: 'Oxygen', sans-serif;
  color:#4B0082;
}


.booksTable {
  float:left;
  align-content:center;
  width:100%; 
  height: 600px;
  width: 800px;
  overflow: auto;
  text-align:center; 
  font-family: 'Oxygen', sans-serif; 
  }
}

.table-nonfluid {
   width: 93% !important
}

.scroll {
  clear: both;
	height: 350px;
	overflow: auto;	
}

.emailBooks {
  border:1px;
  border-color:#CCC;
  height:500px;
  margin-left: 100px;
  width:300px;
  font-family: 'Oxygen', sans-serif;

}

.footer{
/*     align-content:center;
    width:100%;
    float:left;
    position:fixed;
    bottom:0px;
    left:50%;
    margin-left:-200px; /*negative half the width 
    width:400px;
    height:50px;
    text-align:center;
    text-orientation:fixed;
    background-color:red;
    border:2px solid black; 
    margin-top:10px; */
    margin-left: 600px;
  
}

.right {
	text-align: right;
}

.admin-center {
	text-align: center;
}

img {
  width: 80%;
  height: auto;
}